extends ../layout

block content
    h2
      i.fa.fa-graduation-cap
      |  Events
    hr

    .text-right
      a.btn.btn-primary(href='/events/create')
        i.fa.fa-plus
        |  New Event

    for event in events
      .card.my-3
        .card-block
          h4.card-title= event.title
          h6.card-subtitle.mb-2.text-muted= `Created by ${event.createdBy || 'unknown'} at ${event.createdAt || 'unknown'}`
          p.card-text= event.type
          p.card-text= event.description
          a.card-link(href="/events/" + event._id) Details
          a.card-link(href='#') Schedule
          a.card-link(href="/events/" + event._id + "/checkin") Register
