extends ../layout

block content
  h1 Leaderboard

  .container.leaderboard
    for user in users
      a(href="/users/" + user._id) 
        .container.leader
          img(src="http://via.placeholder.com/60" alt="profile image")
          h2= user.username
          if user.hometown
            h4= user.hometown.toUpperCase()
          h3.counter= user.checkIns.length
          h3 Check Ins 
          if user.level === 'teacher'
            p.teacher= user.level
          else 
            p= user.level


    

