extends ../layout

block content
  div(class="container form")
    div(class="row")
      div(class="col-md-2")
      div(class="col-md-8")
        h2 I attended 
          strong
            em #{course.title}
        container.alert-wrap
          - if(success) {
          .alert.alert-success
            strong Welcome #{success}
          - } else if (error) {
          .alert.alert-danger
            strong Error! #{error}          
          - }
        
        form(method="Post" action="/users/signup" data-parsley-validate="")
          div(class="form-group")
            label(for="name") Username
            input(class="form-control" type="text" name="name" data-parsley-minlength="5" data-parsley-maxlength="40" data-parsley-minlength-message="Username must be longer than 5 characters." required="")
            label(for="email") Email
            input(class="form-control" type="email" name="email" id="email" required="" data-parsley-trigger="change")
            input(type="text" name="courseId" value=course._id hidden)
            input(type="text" name="courseTitle" value=course.title hidden)
            input(class="btn btn-success" type="submit")
      div(class="col-md-2")
